<h1> Hey, Capybara, it's a new session! </h1>

<% if flash[:errors] %>
  <h2>This is a generic error message...for science! It means your login creds are no good! </h2>
<% end %>
<form action="<%= session_url %>" method="post" >
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for="username" style="font-weight: bold;"> username: </label>
  <input id="username" type="text" name="user[username]">
  <br>
  <label for="password" style="font-weight: bold;"> password: </label>
  <input id="password" type="password" name="user[password]">
  <input type="submit" value="Submit">
</form>
