<h1> New user page, booboo </h1>

<form action="<%=users_url%>" method="post" >
  <input type="hidden" name="authenticity_token" value=" <%= form_authenticity_token %> ">
  <label for="username" style="font-weight: bold;"> username: </label>
  <input id="username" type="text" name="user[username]">
  <br>
  <label for="password" style="font-weight: bold;"> password: </label>
  <input id="password" type="password" name="user[password]">
  <input type="submit" value="Submit">
</form>


<% if logged_in? %>
  <input type="button" name="" value="login">
<% end %>
